src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post:\cases:application\json:uhub-sapi-raml_1-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationid" doc:id="f84ba841-c7d0-4bde-9cb8-bf9e9914ce2c" variableName="corelationid"/>
		<logger level="INFO" doc:name="Start Logger" doc:id="e14737dd-0ab4-42cd-ae53-740cda052a35" message="Start register covid case flow"/>
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="c562de16-86bc-497f-b6ec-4baba339671a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	street_address: payload.address.streetAddress,
	national_id_type: payload.nationalIDType,
	city: payload.address.city,
	state: payload.address.state,
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: now() as String {
		format: "yyyy-MM-dd"
	},
	update_date: now() as String {
		format: "yyyy-MM-dd"
	},
	create_by: "UHIS",
	update_by: "UHIS"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c34e0feb-e37f-4c26-bd7f-25deda956c0d" message="#[payload]"/>
		<flow-ref doc:name="Insert Covid Case Subflow" doc:id="c7e41cca-94c7-4ad2-bc4f-9a3705bfa03b" name="Insert-covid-case-subflow" />
		<ee:transform doc:name="Prepare Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ status: "201"
  //caseID: payload[0].CASE_ID as String
}
  ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="40dc9390-e1c4-4c82-87fe-fd067c19af84" />
    
</flow>
	
	
	
	
	
</mule>
